{% extends 'base.html.twig' %}


{% block body %}
<h1>Bienvenue</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur nihil atque iste eveniet in a quibusdam tempore non. Voluptas assumenda iusto consequatur alias provident suscipit similique quas blanditiis, illo eveniet!</p>
<p>Quia error nemo natus repellendus, deserunt sequi assumenda incidunt numquam voluptate velit beatae impedit voluptas neque ratione blanditiis enim ea. Quae, animi! Quia, necessitatibus dicta non incidunt veritatis exercitationem repudiandae.</p>

{% endblock %}